$primary-color: #FB582F; 
$articlec-description-color: #C0C0C0;
$article-heading-color: #637C8A;
$article-paragraph-color: #74706D;
$font-stack: "Times New Roman", serif;
$main-background-color: #ddd;
$article-background-color: #fff;
$horizontal-rule-color: #999;
$article-font-size: 140%;