$primary-color: #20BCD3; 
$articlec-description-color: #388B74;
$article-heading-color: #248C92;
$article-paragraph-color: #A0A8AB;
$font-stack: Arial, sans-serif;
$main-background-color: #fff;
$article-background-color: #ddd;
$horizontal-rule-color: #000;
$article-font-size: 100%;