body {
	background-color: #aff;
}

div {
	border: 1px solid #000;
	margin: 10px;
	padding: 30px;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0 20%;
}

li {
	margin: 5px;
	text-align: left;
	border: 1.5px dashed blue;
}

.hide {
	display: none;
}

span {
	font-size: 250%;
}

#toDelete {
	position: fixed;
	background-color: red;
	right: 100px;
}

img[alt=remove] {
	float: right;
}

img:hover,
span:hover,
#buttonAdd:hover {
	outline: 4px solid blue;
	cursor: pointer;
}

img[alt=done]:hover {
	outline: none;
	cursor: default;
}